:root {
    --colorMain: #0e6dfd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
img {
    max-width: 100%;
    display: block;
}
a {
    text-decoration: none;
    color: var(--colorMain);
}

body {
    background-color: #edf2f6;
    color: #000;

    height: 2000px;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 24px;
    grid-template-areas: 
        "h h"
        "n c";
}


